.img-1 {
  height: 40vh;
  width: 20vw;
  background-image: url(img/Bobby_Fischer.jpg);
  background-size: cover;
}
.img-2 {
  height: 40vh;
  width: 20vw;
  background-image: url(img/benefits.jpg);
  background-size: cover;
}
.img-3 {
  height: 25vh;
  width: 20vw;
  background-image: url(img/chesspieces.jpg);
  background-size: cover;
}
