@import "./variable";
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%; //1rem === 10px
  font-family: $fontMain;
}
.container {
  height: 300vh;
  width: 100vw;
  margin: 0;
  background-image: url(img/container.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.post {
  height: 60vh;
  width: 60vw;
  background-color: $colors;
  text-align: center;
  font-size: 3rem;
  text-decoration: underline;
}
.post-1 {
}
