@import "./variable";
@import "./img";
@import "./textdesign";
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%; //1rem === 10px
}
.container {
  height: 300vh;
  width: 100vw;
  margin: 0;
  background-image: url(img/container.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.post {
  height: 70vh;
  width: 60vw;
  background-color: $colors;
  border-style: groove;
  border-color: #000;
  border-radius: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 4rem 4rem 2rem 4rem;
}

.link {
  padding: 1rem;
  color: purple;
}
